/* color palette from <https://github.com/vuejs/theme> */
:root {
  --purple--100: #E4E8FD;
  --purple--200: #C9D0FC;
  --purple--300: #AFB9FA;
  --purple--400: #94A1F9;
  --purple--500: #798AF7;
  --purple--600: #616EC6;
  --purple--700: #495394;
  --purple--800: #303763;
  --purple--900: #181C31;
  --grey--100: #FDFDFE;
  --grey--200: #FBFBFC;
  --grey--300: #F8F8FB;
  --grey--400: #F6F6F9;
  --grey--500: #F4F4F8;
  --grey--600: #C3C3C6;
  --grey--700: #929295;
  --grey--800: #626263;
  --grey--900: #313132;
  --red--600: #F03851;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--purple--100);

  --color-surface: var(--grey--100);
  --color-surface-secondary: var(--purple--100);
  --color-surface-inactive: var(--grey--600);

  --color-border: var(--purple--500);
  --color-border-inactive: var(--grey--600);
  --color-border-error: var(--red--600);

  --color-text: var(--grey--900);
  --color-text-secondary: var(--purple--500);
  --color-text-inactive: var(--grey--700);
  --color-text-error: var(--red--600);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--purple--100);

    --color-surface: var(--grey--100);
    --color-surface-secondary: var(--purple--100);
    --color-surface-inactive: var(--grey--600);

    --color-border: var(--purple--500);
    --color-border-inactive: var(--grey--600);
    --color-border-error: var(--red--600);

    --color-text: var(--grey--900);
    --color-text-secondary: var(--purple--500);
    --color-text-inactive: var(--grey--700);
    --color-text-error: var(--red--600);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
