@import 'base.css';
@import 'font.css';
@import 'tailwind.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a,
.purple {
  text-decoration: none;
  color: var(--purple--500);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--purple--200);
  }

  *:hover {
    @apply transition duration-300 ease-in-out;
}
}
